aiohttp==1.0.5
async-timeout==1.1.0
decorator==4.0.10
discord.py==0.16.6
oauthlib==2.0.1
praw==4.4.0
prawcore==0.6.0
pycparser==2.17
youtube-dl==2017.1.5
pyenchant==1.6.8
lxml==3.7.3
urbandict==0.5
xkcd==2.4.1
